.adminboard {
  background-color: lightgray;
  width: 90%;
  height: 80vh;
  margin: 2rem auto;

  .title {
    width: 90%;
    margin: 0 auto;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .sidebar-left {
      width: 20%;
      height: 60vh;
      margin-top: 2rem;
      border: 1px solid gray;
      box-shadow: 2px 2px 2px 2px;

      h2 {
        text-align: center;
        border: 1px solid gray;
        box-shadow: 2px 2px 2px 2px;
      }

      ul {
        text-align: center;
        list-style-type: none;
        padding-top: 1rem;
      }

      li {
        padding-top: 0.5em;
        text-align: start;
        padding-left: 2rem;
      }
    }

    .content2 {
      width: 70%;
      margin-top: 2rem;
      border: 1px solid gray;
      box-shadow: 2px 2px 2px 2px;

      h1 {
        text-align: center;
        border: 1px solid gray;
        box-shadow: 2px 2px 2px 2px;
      }

      .add_button {
        margin-left: 10%;
      }

      thead {
        padding: 5px 30px;
      }

      .table_box {
        th, td {
          padding: 5px 30px;
        }
      }

      label {
        margin-top: 1.5em;
        margin-left: 1.5em;
      }

      input {
        margin-left: 2em;
      }

      button {
        margin-top: 1.5em;
        margin-left: 20em;
      }
    }
  }
}