.adminboard {
  width: 90%;
  height: 80vh;
  margin: 2rem auto;

  .title {
    background-color: lightgrey;
    width: 90%;
    margin: 0 auto;
    padding: 2px;
    box-shadow: 0 6px 11px 5px rgba(0,0,0,0.8);
    text-align: center;
    text-shadow: 2px 2px 2px whitesmoke;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .sidebar-left {
      width: 20%;
      height: 60vh;
      margin-top: 2rem;
      box-shadow: 0 6px 11px 5px rgba(0,0,0,0.8);

      h2 {
        background-color: lightgrey;
        text-align: center;
        padding: 2px;
        text-shadow: 2px 2px 2px whitesmoke;
        box-shadow: 0 6px 11px 5px rgba(0,0,0,0.8);
      }

      ul {
        text-align: center;
        list-style-type: none;
        padding-top: 1rem;
      }

      li {
        padding-top: 0.5em;
        text-align: start;
        padding-left: 2rem;
      }
      a:hover {
        color: #0dcaf0;
      }
    }

    .home_admin {
      h2 {
        text-align: center;
      }
      ul {
        padding-left: 5rem;
        padding-top: 2rem;
      }
      p {
        text-align: center;
      }
    }

    ::-webkit-scrollbar {
      width: 12px;
    }
    ::-webkit-scrollbar-track {
      background: rgb(148, 145, 145);
    }
    ::-webkit-scrollbar-track:hover {
      background: rgb(248, 246, 246);
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: #f50a0a;
    }
    ::-webkit-scrollbar-thumb:hover {
      border-radius: 6px;
      background: #980df6;
    }


    .content2 {
      overflow: auto;
      width: 70%;
      height: 40em;
      margin-top: 2rem;
      box-shadow: 0 6px 11px 5px rgba(0,0,0,0.8);

      img {
        width: 60px;
        height: 60px;
      }

      h1 {
        background-color: lightgrey;
        text-align: center;
        padding: 2px;
        text-shadow: 2px 2px 2px whitesmoke;
        box-shadow: 0 6px 11px 5px rgba(0,0,0,0.8);
      }

      .add_button {
        margin-left: 10%;
      }
      a:hover {
        color: #0dcaf0;
      }

      thead {
        padding: 5px 30px;
      }

      .table_box {
        th, td {
          padding: 5px 30px;
        }
      }

      label {
        margin-top: 1.5em;
        margin-left: 1.5em;
      }

      input {
        margin-left: 2em;
      }

      button {
        margin-top: 1.5em;
        margin-left: 20em;
      }
    }
  }
}