{% extends 'base.html.twig' %}

{% block title %}Hello Boss{% endblock %}

{% block body %}
   <div class="home_admin">
      <h2>Espace d'administration :</h2>
      <ul>
         <li>Ajoutez, Modifier, ou Suprimer un utilisateur.</li>
         <li>Ajoutez, Modifier, ou Suprimer une categorie.</li>
         <li>Ajoutez, Modifier, ou Suprimer un plat.</li>
         <li>Ajoutez, Modifier, ou Suprimer un ingredient.</li>
      </ul>
      <p>Chaques ingredient et associer a un plat, chaque plat et associer a une categorie les plats et les ingredients on
         chaqu'un une photo differente.</p>
   </div>
{% endblock %}
